### 실전 데이터 알고리즘 적용
- 데이터 셋: https://www.kaggle.com/competitions/titanic
- 적용 알고리즘 : PCA

### 01. 라이브러리 및 데이터 불러오기

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn

In [3]:
train = pd.read_csv('https://raw.githubusercontent.com/pinkocto/MyDataAnalysis_2022/main/titanic/data/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/pinkocto/MyDataAnalysis_2022/main/titanic/data/test.csv')

In [5]:
train.shape, test.shape

((891, 12), (418, 11))

In [6]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### 기본 전처리

In [22]:
# age의 결측값을 평균으로 대체
replace_mean = train[train['Age']>0]['Age'].mean()
train['Age']  = train['Age'].fillna(replace_mean)
test['Age'] = test['Age'].fillna(replace_mean)

# embarked 2개의 결측값을 최빈값으로 대체
embarked_mode = train['Embarked'].value_counts().index[0]
train['Embarked'] = train['Embarked'].fillna(embarked_mode)

In [24]:
# one-hot-encoding을 위한 통합 데이터 프레임 (df) 생성
df = train.append(test)
train_idx_num = len(train)

C:\Users\hanka\AppData\Local\Temp\ipykernel_2524\2128077791.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = train.append(test)

In [28]:
df.shape, train_idx_num

((1309, 12), 891)

In [31]:
# one-hot encoding
df_encoded = pd.get_dummies(df)
df_train = df_encoded[:train_idx_num]
df_test = df_encoded[train_idx_num:]

print(df_train.shape, df_test.shape)

(891, 2434) (418, 2434)

In [32]:
X = df_train.drop(['Survived'], axis=1)
y = df_train['Survived']

print(X.shape, y.shape)

(891, 2433) (891,)

In [33]:
X.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Master. Eugene Joseph","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)",...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,38.0,1,0,71.2833,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,35.0,1,0,53.1000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,35.0,0,0,8.0500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
# 데이터 나누기
scaler = StandardScaler()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

### 02. train 데이터 셋을 활용한 PCA 알고리즘 적용 및 활용

In [8]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')