# Fature Engineering

In [1]:
### 01. 데이터 준비
import pandas as pd
data = { "eng": ["b", "c", "a", "d"] }
df = pd.DataFrame(data)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

  eng
0   b
1   c
2   a
3   d

## LabelEncoder 사용하기

In [2]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
df['라벨인코딩'] = LabelEncoder().fit_transform(df['eng'])
df

  eng  라벨인코딩
0   b      1
1   c      2
2   a      0
3   d      3

## One-Hot-Encoding

In [4]:
df['라벨인코딩'].values

array([1, 2, 0, 3])

In [6]:
onehot = OneHotEncoder()
val = df['라벨인코딩'].values.reshape(-1,1) # OneHotEncoder()를 사용을 위한 적합한 값으로 변경
val

array([[1],
       [2],
       [0],
       [3]])

In [7]:
y = onehot.fit_transform( val ).toarray() # 값을 변경 후, 배열로 만들어준다.
y

array([[0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.]])

In [8]:
onehot_val = pd.DataFrame(y, dtype=int)
onehot_val

   0  1  2  3
0  0  1  0  0
1  0  0  1  0
2  1  0  0  0
3  0  0  0  1

In [9]:
df_new = pd.concat([df, onehot_val], axis=1)
df_new

  eng  라벨인코딩  0  1  2  3
0   b      1  0  1  0  0
1   c      2  0  0  1  0
2   a      0  1  0  0  0
3   d      3  0  0  0  1

## 실습해보기

 내가 좋아하는 것들을 컬럼을 만들고, 이를 라벨인코딩, 원핫 인코딩을 수행해 보자.

In [13]:
my_favorite= {'hobby':['netflix','piano','walk']}

In [16]:
data1 = pd.DataFrame(my_favorite)
data1

     hobby
0  netflix
1    piano
2     walk

In [17]:
# 라벨인코딩, 원핫인코딩
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

`-` 라벨인코딩

In [19]:
# 라벨인코딩
data1['라벨인코딩'] = LabelEncoder().fit_transform(data1['hobby'])
data1

     hobby  라벨인코딩
0  netflix      0
1    piano      1
2     walk      2

`-` 원-핫인코딩

In [27]:
# 원-핫 인코딩
onehot = OneHotEncoder()
val = data1['라벨인코딩'].values.reshape(-1,1) # OneHotEncoder()를 사용을 위한 적합한 값으로 변경
val

array([[0],
       [1],
       [2]])

In [28]:
y = onehot.fit_transform( val ).toarray() # 값을 변경 후, 배열로 만들어준다.
y

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [29]:
onehot_val = pd.DataFrame(y, dtype=int)
onehot_val

   0  1  2
0  1  0  0
1  0  1  0
2  0  0  1

In [30]:
pd.concat([data1, onehot_val], axis=1)

     hobby  라벨인코딩  0  1  2
0  netflix      0  1  0  0
1    piano      1  0  1  0
2     walk      2  0  0  1