# Fature Engineering

In [1]:
### 01. 데이터 준비
import pandas as pd
data = { "eng": ["b", "c", "a", "d"] }
df = pd.DataFrame(data)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

  eng
0   b
1   c
2   a
3   d

## LabelEncoder 사용하기

In [2]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
df['라벨인코딩'] = LabelEncoder().fit_transform(df['eng'])
df

  eng  라벨인코딩
0   b      1
1   c      2
2   a      0
3   d      3

## One-Hot-Encoding

In [4]:
df['라벨인코딩'].values

array([1, 2, 0, 3])

In [6]:
onehot = OneHotEncoder()
val = df['라벨인코딩'].values.reshape(-1,1) # OneHotEncoder()를 사용을 위한 적합한 값으로 변경
val

array([[1],
       [2],
       [0],
       [3]])

In [7]:
y = onehot.fit_transform( val ).toarray() # 값을 변경 후, 배열로 만들어준다.
y

array([[0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.]])

In [8]:
onehot_val = pd.DataFrame(y, dtype=int)
onehot_val

   0  1  2  3
0  0  1  0  0
1  0  0  1  0
2  1  0  0  0
3  0  0  0  1

In [9]:
df_new = pd.concat([df, onehot_val], axis=1)
df_new

  eng  라벨인코딩  0  1  2  3
0   b      1  0  1  0  0
1   c      2  0  0  1  0
2   a      0  1  0  0  0
3   d      3  0  0  0  1

## 실습해보기

 내가 좋아하는 것들을 컬럼을 만들고, 이를 라벨인코딩, 원핫 인코딩을 수행해 보자.

In [13]:
my_favorite= {'hobby':['netflix','piano','walk']}

In [16]:
data1 = pd.DataFrame(my_favorite)
data1

     hobby
0  netflix
1    piano
2     walk

In [17]:
# 라벨인코딩, 원핫인코딩 (scikit-learn)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

`-` 라벨인코딩

In [19]:
# 라벨인코딩
data1['라벨인코딩'] = LabelEncoder().fit_transform(data1['hobby'])
data1

     hobby  라벨인코딩
0  netflix      0
1    piano      1
2     walk      2

`-` 원-핫인코딩

In [27]:
# 원-핫 인코딩
onehot = OneHotEncoder()
val = data1['라벨인코딩'].values.reshape(-1,1) # OneHotEncoder()를 사용을 위한 적합한 값으로 변경
val

array([[0],
       [1],
       [2]])

In [28]:
y = onehot.fit_transform( val ).toarray() # 값을 변경 후, 배열로 만들어준다.
y

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [29]:
onehot_val = pd.DataFrame(y, dtype=int)
onehot_val

   0  1  2
0  1  0  0
1  0  1  0
2  0  0  1

In [30]:
pd.concat([data1, onehot_val], axis=1)

     hobby  라벨인코딩  0  1  2
0  netflix      0  1  0  0
1    piano      1  0  1  0
2     walk      2  0  0  1

### 복잡한 과정을 pandas에서 해결!! `pd.get_dummies()`

In [31]:
like_data = {'like_thing':[ '웹툰', '검도', '책', '여행'], 
             'hobby':['netflix','piano','walk', 'bookreading'],
             '과일' : ['사과', '배', '포도', '멜론'],
             "eng2": ["사진촬영", "영상촬영", "대화", "커피"] }
             
df = pd.DataFrame(like_data)
df

  like_thing        hobby  과일  eng2
0         웹툰      netflix  사과  사진촬영
1         검도        piano   배  영상촬영
2          책         walk  포도    대화
3         여행  bookreading  멜론    커피

In [32]:
onehot = pd.get_dummies(df)
onehot

,like_thing_검도,like_thing_여행,like_thing_웹툰,like_thing_책,hobby_bookreading,hobby_netflix,hobby_piano,hobby_walk,과일_멜론,과일_배,과일_사과,과일_포도,eng2_대화,eng2_사진촬영,eng2_영상촬영,eng2_커피
0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0
1,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0
2,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0
3,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1

### 성인 인구조사 소득 예측 대회
ref: https://www.kaggle.com/competitions/kakr-4th-competition

In [43]:
!pip install mglearn==0.1.9

Requirement already satisfied: mglearn==0.1.9 in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (0.1.9)
Requirement already satisfied: pandas in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from mglearn==0.1.9) (1.5.0)
Requirement already satisfied: numpy in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from mglearn==0.1.9) (1.23.4)
Requirement already satisfied: pillow in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from mglearn==0.1.9) (9.2.0)
Requirement already satisfied: matplotlib in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from mglearn==0.1.9) (3.6.1)
Requirement already satisfied: scikit-learn in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from mglearn==0.1.9) (1.1.2)
Requirement already satisfied: imageio in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from mglearn==0.1.9) (2.22.2)
Requirement already satisfied: joblib in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from mglearn==0.1.9) (1.2.0)
Requirement already satisfied: cycler in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from mglearn==0.1.9) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from matplotlib->mglearn==0.1.9) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from matplotlib->mglearn==0.1.9) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from matplotlib->mglearn==0.1.9) (4.37.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from matplotlib->mglearn==0.1.9) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from matplotlib->mglearn==0.1.9) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from matplotlib->mglearn==0.1.9) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from pandas->mglearn==0.1.9) (2022.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from scikit-learn->mglearn==0.1.9) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from scikit-learn->mglearn==0.1.9) (1.9.2)
Requirement already satisfied: six>=1.5 in c:\users\hanka\anaconda3\envs\py38r40\lib\site-packages (from python-dateutil>=2.7->matplotlib->mglearn==0.1.9) (1.16.0)

In [1]:
import sys
import mglearn
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

In [2]:
import os
import pandas as pd
import mglearn

In [42]:
path = os.path.join(mglearn.datasets.DATA_PATH, 'adult.data')
print(path)

C:\Users\hanka\anaconda3\lib\site-packages\mglearn\data\adult.data

In [43]:
data = pd.read_csv(path,
               header=None, 
               index_col=False,
     names=['age', 'workclass', 'fnlwgt', 'education', 
            'education-num', 'marital-status', 'occupation', 'relationship', 
            'race', 'gender', 'capital-gain', 'capital-loss', 
            'hours-per-week', 'native-country', 'income'])
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

```
age : 나이
workclass : 고용 형태
fnlwgt : 사람 대표성을 나타내는 가중치 (final weight의 약자)
education : 교육 수준 (최종 학력)
education_num : 교육 수준 수치
marital_status: 결혼 상태
occupation : 업종
relationship : 가족 관계
race : 인종
sex : 성별
capital_gain : 양도 소득
capital_loss : 양도 손실
hours_per_week : 주당 근무 시간
native_country : 국적
income : 연소득 (예측해야 하는 값, target variable) - 50K - $50,000
```

In [44]:
sel = ['age', 'workclass','education','gender','hours-per-week',
       'occupation','income']
data = data[sel]
data.head()

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

In [45]:
data_dummies = pd.get_dummies(data)
data_dummies

,age,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,...,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,income_ <=50K,income_ >50K
0,39,40,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,50,13,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,38,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,53,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,28,40,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,38,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
32557,40,40,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
32558,58,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32559,22,20,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32560,52,40,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [46]:
features = data_dummies.loc[:, "age":"occupation_ Transport-moving"]
X = features.values
y = data_dummies['income_ >50K'].values
X

array([[39, 40,  0, ...,  0,  0,  0],
       [50, 13,  0, ...,  0,  0,  0],
       [38, 40,  0, ...,  0,  0,  0],
       ...,
       [58, 40,  0, ...,  0,  0,  0],
       [22, 20,  0, ...,  0,  0,  0],
       [52, 40,  0, ...,  0,  0,  0]], dtype=int64)

In [15]:
y # 더미변환이 잘되었다.

array([0, 0, 0, ..., 0, 0, 1], dtype=uint8)

#### 3-4 (실습) data에서 몇개의 컬럼을 선택한 후, 원핫 인코딩하기. 확인

In [47]:
# 라벨인코딩, 원핫인코딩 (scikit-learn)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [48]:
data.head()

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

In [14]:
data.income.value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [12]:
data.education.value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [49]:
sel = ['workclass','education','gender']
data_prac = data[sel]

In [19]:
onehot_val = pd.get_dummies(data_prac)
onehot_val

,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,...,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,gender_ Female,gender_ Male
0,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32557,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
32558,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
32559,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
32560,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

##### 3-5 (실습) 원핫 인코딩한 것과 라벨 인코딩한 것으로 모델을 만든 이후에 결과를 비교해 보기.

In [58]:
# ignore warning message
import warnings
warnings.filterwarnings(action='ignore')

In [67]:
X = onehot_val.values
X

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 1, 0]], dtype=uint8)

In [68]:
y

array([0, 0, 0, ..., 0, 0, 1], dtype=uint8)

In [69]:
from sklearn.linear_model import LogisticRegression

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [71]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [73]:
onehot_score = model.score(X_test, y_test)
onehot_score

0.7863650322448562

#### 라벨인코딩

In [36]:
data_prac[sel]

               workclass    education   gender
0              State-gov    Bachelors     Male
1       Self-emp-not-inc    Bachelors     Male
2                Private      HS-grad     Male
3                Private         11th     Male
4                Private    Bachelors   Female
...                  ...          ...      ...
32556            Private   Assoc-acdm   Female
32557            Private      HS-grad     Male
32558            Private      HS-grad   Female
32559            Private      HS-grad     Male
32560       Self-emp-inc      HS-grad   Female

[32561 rows x 3 columns]

In [38]:
sel

['workclass', 'education', 'gender']

In [89]:
# 라벨인코딩

data_prac['lbl_workclass'] = LabelEncoder().fit_transform(data_prac['workclass'])
data_prac['lbl_education'] = LabelEncoder().fit_transform(data_prac['education'])
data_prac['lbl_gender'] = LabelEncoder().fit_transform(data_prac['gender'])

data_prac.head()

,workclass,education,gender,lbl_workclass,lbl_education,lbl_gender
0,State-gov,Bachelors,Male,7,9,1
1,Self-emp-not-inc,Bachelors,Male,6,9,1
2,Private,HS-grad,Male,4,11,1
3,Private,11th,Male,4,1,1
4,Private,Bachelors,Female,4,9,0

In [74]:
X_lbl = data_prac[['lbl_workclass','lbl_education','lbl_gender']].values

In [75]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_lbl, y, test_size=0.3, random_state=0)

In [76]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [77]:
model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [79]:
lbl_score = model.score(X_test, y_test)
lbl_score

0.7582147609786057

- 원-핫 인코딩을 한 결과가 라벨인코딩을 했을 때보다 accuracy가 더 높게 나타났다.

In [88]:
df = pd.DataFrame({' ':['Score'],'oneHot':[onehot_score], 'labelEncoding': [lbl_score]}).set_index(' ')
df

         oneHot  labelEncoding

Score  0.786365       0.758215

### Decision Tree로 분류해보자.

In [94]:
import sklearn import.tree DecisionTreeClassifier
from sklearn.model_selection import train_test_split

SyntaxError: invalid syntax (299419724.py, line 1)

In [ ]:
dt = DecisionTreeClassifier(random_state=0)