In [2]:
import sys
import tensorflow as tf
import keras
import matplotlib as mpl
import seaborn as sns
import numpy as np
import sklearn as sk
import pandas as pd

In [3]:
print(sys.version)
print(tf.__version__)
print(keras.__version__)
print(mpl.__version__)
print(sns.__version__)
print(np.__version__)
print(sk.__version__)
print(pd.__version__)

3.8.13 (default, Mar 28 2022, 06:59:08) [MSC v.1916 64 bit (AMD64)]
2.10.0
2.10.0
3.6.1
0.12.0
1.23.3
1.1.1
1.5.0

In [10]:
tr = pd.read_csv('./data/bike/bike_mod_tr.csv', parse_dates=['datetime'])
test = pd.read_csv('./data/bike/bike_mod_test.csv', parse_dates=['datetime'])
sub = pd.read_csv('./data/bike/sampleSubmission.csv')

In [11]:
tr.shape, test.shape, sub.shape

((10886, 19), (6493, 16), (6493, 2))

## 데이터 탐색

In [12]:
train.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
       'year', 'month', 'day', 'hour', 'minute', 'second', 'dayofweek'],
      dtype='object')

In [13]:
test.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'year', 'month', 'day', 'dayofweek',
       'hour', 'minute', 'second'],
      dtype='object')

In [14]:
sub.columns

Index(['datetime', 'count'], dtype='object')

In [18]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
 12  year        10886 non-null  int64
 13  month       10886 non-null  int64
 14  day         10886 non-null  int64
 15  hour        10886 non-null  int64
 16  minute      10886 non-null  int64
 17  second      10886 non-null  int64
 18  dayofweek   10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(15)
memory usage: 1.6 MB

### 입력(input)과 출력(output) 지정

In [15]:
input_col = ['weather', 'temp']
labeled_col = ['count']

In [17]:
X = train[input_col]
y = train[labeled_col]
X_val = test[input_col]

### 데이터 나누기

In [20]:
from sklearn.model_selection import train_test_split

In [23]:
# 자체학습, 자체평가
# 75%, 25%
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [24]:
print(X_train.shape)
print(X_test.shape)

(8164, 2)
(2722, 2)

### 딥러닝 모델 만들기 및 학습

In [26]:
from keras.models import Sequential
from keras.layers import Dense

In [28]:
# 모델 구축
model = Sequential()
model.add(Dense(30, input_dim=2, activation='relu')) # 각각 뉴런마다 뉴런에 나온 결과에 활성화함수를 씌워서 다음 층의 입력으로 보낸다.
model.add(Dense(15, activation='relu')) 
model.add(Dense(15, activation='relu'))
model.add(Dense(1)) # 맨 마지막의 출력층은 다른 활성화 함수가 적용된다.

In [29]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                90

 dense_1 (Dense)             (None, 15)                465

 dense_2 (Dense)             (None, 15)                240

 dense_3 (Dense)             (None, 1)                 16

=================================================================
Total params: 811
Trainable params: 811
Non-trainable params: 0
_________________________________________________________________